{% extends "home.html" %}
{% block head_title %}NOTICE{% endblock %}
{% block title %}NOTICE{% endblock %}
{% block content %}
<section class="pw_chang wrap">
    <h1>
        <span class="glyphicon glyphicon-cog"></span>
        비밀번호변경
    </h1>
<p>비밀번호 변경을 위해 이전 비밀번호를 먼저 입력하세요.</p>
{% if form.errors %}
<p class="error">비밀번호를 다시 확인하세요.</p>
{% endif %}
<p class="error">{{ form.new_password2.errors|striptags }}</p>
    <form action="" method="post" class="pw_form_chang">
        <ul class="clearfix">
            {% csrf_token %}
            <li>
                <label for="id_old_password" class="hidden">기존 비밀번호</label>
                <input type="password" name="old_password" class="form-control" id="old_password" placeholder="기존 비밀번호" required autofocus>
            </li>
            <li>
                <label for="id_new_password1" class="hidden">새 비밀번호</label>
                <input type="password" name="new_password1" class="form-control" id="new_password1" placeholder="새 비밀번호" required autofocus>
            </li>
            <li> 
                <label for="id_new_password2" class="hidden">새 비밀번호(확인)</label>
                <input type="password" name="new_password2" class="form-control" id="new_password2" placeholder="새 비밀번호(확인)" required autofocus>
            </li>
            <button type="submit" class="btn btn-default btn_pw_chang">비밀번호 변경</button>
            <a href="{% url 'home' %}">
            <button type="button" class="btn btn-default">취소</button>
            </a>
        </ul>
    </form>
</section>
{% endblock %}