<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
{% if user.is_manager == True%}
<body>
        <header>
            <div>
                <h1><a href="{% url 'manager_home' %}">Blog-admin</a></h1>
            </div>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">로그아웃</a></li>
                        <li><a href="{% url 'password_change' %}">비밀번호 변경</a></li>
                        <li><a href="{% url 'blog_home' %}">사이트보기</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">로그인</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
        {% block footer %}
            <footer>
                <div>&copy; 2017. (LKH) All rights reserved.</div>
            </footer>
        {% endblock %}
            <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        {% block javascript %}
        {% endblock %}
</body>
{% else %}
 <script>
     var message = '해당 홈페이지는 관리자 홈페이지 입니다.관리자로 로그인 해주세요';
     window.alert(message);
     window.location.href = '{% url 'home' %}';
 </script>
{% endif %}
</html>