{% extends "base.html" %}
{% block head_title %}blog-manager{% endblock %}
{% block title %}<a href="{% url 'home' %}">manager</a>{% endblock %}
{% block content %}
<section>
    <h1>회원권한</h1>
    <section>
        <h1>회원유저</h1>
        <table>
            <tr>
                <th>아이디</th>
                <th>권한</th>
                <th>가입날짜</th>
                <th>마지막로그인날짜</th>
            </tr>
            {% for user_is_member in user_is_member %}
             {% if user_is_member.is_member == True %}
            <tr>
                <td>{{user_is_member.username}}</td>
                <td>회원<a href="{%url 'member:permission_edit' pk=user_is_member.pk%}">[변경]</a></td>
                <td>{{user_is_member.date_joined}}</td>
                <td>{{user_is_member.last_login}}</td>
            </tr>
            {%endif%}
            {% empty %}
                <tr>
                    <td>없음</td>
                    <td>없음</td>
                    <td>없음</td>
                    <td>없음</td>
                </tr>
            {% endfor %}
        </table>
    </section>
    <section>
         <h1>비회원유저</h1>
        <table>
            <tr>
                <th>아이디</th>
                <th>권한</th>
                <th>가입날짜</th>
                  <th>마지막로그인날짜</th>
            </tr>
            {% for none_user in none_user %}
             {% if none_user.is_member == False  %}
            <tr>
                <td>{{none_user.username}}</td>
                <td>비회원<a href="{%url 'member:permission_edit' pk=none_user.pk%}">[변경]</a></td>
                <td>{{none_user.date_joined}}</td>
                <td>{{none_user.last_login}}</td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td>없음</td>
                <td>없음</td>
                <td>없음</td>
                <td>없음</td>
            </tr>
            {% endfor %}
        </table>
    </section>
     <section>
         <h1>관리자유저</h1>
        <table>
            <tr>
                <th>아이디</th>
                <th>권한</th>
                <th>가입날짜</th>
                <th>마지막로그인날짜</th>
            </tr>
            {% for user_is_manager in user_is_manager %}
            {% if user_is_manager.is_manager == True  %}
            <tr>
                <td>{{user_is_manager.username}}</td>
                <td>관리자<a href="{%url 'member:permission_edit' pk=user_is_manager.pk%}">[변경]</a></td>
                <td>{{user_is_manager.date_joined}}</td>
                <td>{{user_is_manager.last_login}}</td>
            </tr>
            {%endif%}
            {% empty %}
                <tr>
                    <td>없음</td>
                    <td>없음</td>
                    <td>없음</td>
                    <td>없음</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</section>
<section>
    <h1>최신게시판 리스트</h1>
    <table>
        <tr>
            <th>번호</th>
            <th>자성자</th>
            <th>제목</th>
            <th>날짜</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{ forloop.counter}}</td>
                <td>{{post.author}}</td>
                <td><a href="{% url 'post:post_detail' pk=post.pk %}">{{post.title}}</a></td>
                <td>{{post.created_date|date:"M/d일"|lower}}</td>
            </tr>
        {% empty %}
           <tr>
                <td>없음</td>
                <td>없음</td>
                <td>없음</td>
                <td>없음</td>
           </tr>
        {%endfor%}
    </table>
</section>
<div><a href="{%url 'post:post_list'%}">게시판더보기</a></div>
{% block javascript %}{% endblock %}
{% endblock %}
