/*desktop*/
@media all and (min-width: 768px) {
    .wrap{
        padding: 0px;
    }
    .logo{
        padding: 0px 0px;
    }
    .logo>a{
        padding-left: 0px;
        display: block;
    }
    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
        background-color: black;
    }
    .dropdown-menu{
        background-color: black;
    }
    .info{
        margin-top: 5px;
    }
    .info>li>a{
        font-size: 13px;
    }
    .gnb{
        margin-top: 5px;
    }
    .gnb>li>a{
        padding-top: 10px;
    }   
    .search_form{
        padding-top:95px;
        margin-bottom: 0px;
    }
    .item{
        width: 49%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px 20px;
    }
    .item1{
        float: left;
    }
    .item2{
        float: right;
    }
    .item3{
        float: left;
    }
    .item4{
        float: right;
    }
    .item5{
        float: left;
    }
    .item6{
        float: right;
    }
    .margin-left{
        margin-left:2%;
    }
    .gallery{
        width: 100%;
        padding: 10px 20px;
    }
    .normal{
        padding: 10px 20px;
        margin: 30px 0px;
    }
    .gallery>ul>li{
        display: inline-block;
        float: left;
        width: 20%;
        padding: 10px 20px;
    }
    .gallery>ul>li>a>img{
      height: 116px;
    }
    .pw_chang{
        margin-top:80px;
        min-height:475px;
    }
    .pw_chang>h1{
        text-align: center;
    }
    .pw_chang>p{
        text-align: center;
    }
    .pw_form_chang>ul{
        width: 50%;
        margin: 0px auto;
    }
    .login_section{
        margin-top:80px;
        min-height:475px;
    }
    .login_section>h1{
        text-align: center;
        margin-bottom:40px;
    }
    .login_form{
        width: 50%;
        margin: 0px auto;
    }
    .login_form>p{
        text-align: center;
        margin-bottom: 25px;
    }
    #id_username{
        margin-bottom: 25px;
    }
    #id_password{
        margin-bottom: 25px;
    }
    .register_section{
        margin-top:80px;
        min-height:475px;
    }
    .register_section>h1{
        text-align: center;
        margin-bottom:40px;
    }
    .register_form{
        width: 50%;
        margin: 0px auto;
    }
    .email{
        margin-bottom: 25px;
    } 
    #id_password1{
        margin-bottom: 25px;
    }
    #id_password2{
        margin-bottom: 25px;
    }
    .post_list_table{
        font-size: 17px;
        margin-bottom: 25px;
    }
    .list_section{
        margin-top:80px;
        min-height:565px;
    }
    .post_detail_info>p{
        display: inline-block;
        margin-right: 10px;
    }
    .img_div{
        width: 50%;
    }
    .div_post_btn{
        margin: 25px 0px;
    }
    .comment_list_div{
        padding-bottom: 25px;
    }
    .btn_post_new_a{
        margin-right: 15px;
    }
    .btn_post_edit_a{
        margin-left: 15px;
    }
    .search_section{
        min-height: 615px;
    }
    .search_section>h1{
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .about{
        margin-top:285px;
        min-height:360px;
    }
    /*manager*/
    .membership{
        padding-top: 80px;
    }
    .member,.new_post{
        padding: 0px 25px;
        margin-bottom: 35px;
    }
    .member>h1,.new_post>h1{
        font-size: 35px;
        padding: 25px 0px;
    }
    .list_table>thead>tr>th{
        font-size: 18px;
        padding: 10px 0px;
    }
    .list_table>tbody>tr>td{
        font-size: 18px;
        padding: 15px 15px;
    }
    .notice_manager{
        padding-top: 80px;
        min-height: 635px;
        
    }
    .notice_manager>h1{
        font-size: 35px;
        padding: 25px 0px;
    }
    .notice_table>thead>tr>th{
        font-size: 20px;
        padding: 10px 0px;
        letter-spacing: 2px;
    }
    .notice_table>tbody>tr>td{
        font-size: 18px;
        padding: 15px 15px;
    }
    .btn_delete{
        margin-left: 5px;
    }
    .member_authority{
        padding-top: 150px;
        min-height: 635px;
    }
    .member_edit_form{
        width: 50%;
        margin: 0px auto;
    }
    .notice_authority{
        padding-top: 120px;
        min-height: 635px;
    }
    .notice-form{
      width: 50%;
      margin: 0px auto;
    }
    .word_filtering{
        padding-top: 150px;
        min-height: 635px;
    }
    /*footer*/
    .footer{
        margin-top: 65px;
        padding: 50px 0px
    }
    .footerinfo{
        padding: 5px  150px;
    }
    .copy{
        float: left;
        padding-right: 15px;
    }
    .address{
        float: left;
        padding-right: 15px;
    }
    .tel{
        float: left;
    }
}