{% extends 'manager/home.html' %}
{% block head_title %}manager{% endblock %}
{% block title %}manager{% endblock %}
{% block content %}
<form method="POST" class="post-form">
        <h1>게시판관리</h1>
        {% csrf_token %}
        <div class="form-group">
                <div class="form-group">{{ form.title.label_tag }}{{ form.title }}</div>
                <div class="form-group">{{ form.list_auth.label_tag }}{{ form.list_auth }}</div>
                <div class="form-group">{{ form.detail_auth.label_tag }}{{ form.detail_auth }}</div>
                <div class="form-group">{{ form.writer_auth.label_tag }}{{ form.writer_auth }}</div>
        </div>
<button type="submit"  class="btn btn-default">저장</button>
</form>
{% endblock %}
{% block javascript %}
{% endblock %}