{% extends 'base.html' %}
{% block head_title %}notice-board{% endblock %}
{% block title %}notice-board{% endblock %}
{% block content %}
<h2>게시판 글쓰기</h2>
<form method="POST" class="post-form">
        {% csrf_token %}
        <div class="form-group">
                <div class="form-group">{{ form.title.label_tag }}{{ form.title }}</div>
                {{ form.media }}
                <div class="form-group">{{ form.content.label_tag }}{{ form.content }}</div>
        </div>
<button type="submit"  class="btn btn-default">저장</button>

</form>
{% endblock %}