{% extends 'base.html' %}
{% block head_title %}home{% endblock %}
{% block title %}home{% endblock %}
{% block content %}
<section>
    <h1>게시판 리스트</h1>
    {% for post in posts %}
    <table>
        <tr>
            <th>자성자</th>
            <th>제목</th>
            <th>내용</th>
             <th>만든날짜</th>
        </tr>
        <tr>
            <td>{{post.author}}</td>
            <td>{{post.title}}</td>
            <td>{{post.text}}</td>
            <td>{{post.created_date}}
        </tr>
    </table>
    {%endfor%}
</section>
{% endblock %}