{% extends 'home.html' %}
{% block head_title %}home{% endblock %}
{% block title %}home{% endblock %}
{% block content %}
{% load static %}
<section>
    <h1>게시판:<a href="{% url 'notice_list:post_list' category=post_detail.category_id %}">{{ post_detail.category.title }}</a></h1>
    <h1>제목:{{post_detail.title}}</h1>
    <div>
    <p>
        작성자:{{post_detail.author}}
    </p>
    <p>
        만든날짜:{{post_detail.created_date}}<br>
        수정날짜:{{post_detail.modified_date}}
    </p>
    {{post_detail.content|safe|linebreaks}}
    {% for imges in imges %}
    <div>
        <img onclick="this.src.popupView()" src="{% get_media_prefix %}{{ imges }}" alt='{{ imges.imgename }}' style="width:35%;height:400px;">
    </div>
     <P>
         이미지파일:<a href="{% get_media_prefix %}{{ imges }}" download="{% get_media_prefix %}{{ imges }}">다운로드</a>
     </P>
    {%endfor%}
    {% for files in files %}
     <p>
         파일:<a href="{% get_media_prefix %}{{ files }}" download="{% get_media_prefix %}{{ files }}">{{ files.filename }}</a>
     </p>
    {%endfor%}
    </div>
    {% if post_detail.author == request.user or request.user.is_manager == True or request.user.is_superuser == True%}
    <button onclick="check_edit()">
        <a href="{% url 'notice_edit:post_edit' pk=post_detail.pk category=post_detail.category_id %}">
            수정하기
        </a>
    </button>
    <button onclick="check_remove()">
        <a href="{% url 'notice_remove:post_remove' pk=post_detail.pk category=post_detail.category_id %}">
            삭제하기
        </a>
    </button>
    {%endif%}
</section>
<section id="comment_list">
    <h1>댓글목록</h1>
    {% for comment in comment_post %}
    <section>
        <p>작성자: {{ comment.author }}<br> <span>등록일: {{ comment.created_date }}</span></p>
        <p><span id="span_comment{{comment.id}}">{{ comment.text|linebreaksbr }}</span></p>
        {% if comment.author == request.user or request.user.is_manager == True or request.user.is_superuser == True%}
        <a href="{% url 'notice_comment_remove:comment_remove' comment_pk=comment.id pk=post_detail.pk category=post_detail.category_id%}">
            삭제
        </a>
        <button onclick="comment_change_input({{comment.id}})">수정</button>
        {%endif%}
    </div>
    {% empty%}
        <p>댓글 이 없습니다 .</p>
    {%endfor%}
    <div class="pagination">
        <span class="step-links">
            {% if  comment_post.has_previous %}
                <a href="?page={{  comment_post.previous_page_number }}">이전댓글</a>
            {% endif %}
            {% if  comment_post.has_next %}
                <a href="?page={{  comment_post.next_page_number }}">다음댓글</a>
            {% endif %}
        </span>
    </div>
</section>
{% include 'notice/comment_form.html' %}
{% endblock %}

{% block javascript %}
<script>
    String.prototype.popupView = function () {
    var img_view = this;
    var x = x + 20 ;
    var y = y + 30 ;
    htmlz = "<html><head><title>이미지크게보기</title><style>body{margin:0;cursor:hand;}</style></head><body scroll=auto onload='width1=document.all.Timage.width;if(width1>1024)width1=1024;height1=document.all.Timage.height;if(height1>768)height1=768;top.window.resizeTo(width1+30,height1+54);' onclick='top.window.close();'><img src='"+img_view+"' title='클릭하시면 닫힙니다.' name='Timage' id='Timage'></body></html>"
    imagez = window.open('', "image", "width="+ 100 +", height="+ 100 +", top=0,left=0,scrollbars=auto,resizable=1,toolbar=0,menubar=0,location=0,directories=0,status=1");
    imagez.document.open();
    imagez.document.write(htmlz)
    imagez.document.close();
    }

    function comment_change_input(comment_id){
        var el_id=comment_id;
        var span_comment_el =document.getElementById('span_comment'+el_id);
        var comment =$(span_comment_el).text();
        var textarea="<textarea ";
        var textarea_id="id=comment_textarea"+el_id+" ";
        var textarea_style ="style='width:25%;height:200;border:1;overflow:visible;text-overflow:ellipsis;resize:none;'>"
        var textarea_end ="</textarea>"
        var comment_textarea = textarea+textarea_id+textarea_style+textarea_end;
        var button_start="<button id=comment_edit"+el_id+" ";
        var button_end="type='submit' onclick=comment_edit("+el_id+")>"+"저장</button>"
        var button_edit =button_start+button_end
        $(span_comment_el).replaceWith(comment_textarea+button_edit);
        var comment_textarea_el =document.getElementById('comment_textarea'+el_id);
        comment_textarea_el.value=comment;
        
    }
    function comment_edit(comment_id){
        var el_id=comment_id;
        var comment_textarea_el =document.getElementById('comment_textarea'+el_id);
        var comment =$(comment_textarea_el).val();
        $.ajax({
            url:"{% url 'comment_edit' %}",
            dataType:'json',
            type:"POST",
            data:{
                'comment_id':el_id,
                'comment':comment
            },
            success:function(data){
                var span_start ="<span"+" ";
                var span_id="id=span_comment"+data.comment_id;
                var span_end="></span>";
                var span_comment=span_start+span_id+span_end;
                var button_el=document.getElementById("comment_edit"+data.comment_id);
                $(comment_textarea_el).replaceWith(span_comment);
                var span_comment_el=document.getElementById('span_comment'+data.comment_id);
                $(button_el).replaceWith();
                $(span_comment_el).text(comment);
                
            },
        })

    }
    function f_word_tiltering(){
        var comment =$(".comment").val()
        $.ajax({
            url:"{% url 'validate_comment' %}",
            dataType: 'json',
            type:"GET",
            data: {
                'comment': comment
            },
            success:function(data){
                if(data.is_taken_comment === true ){
                var error_message = data.error_message;
                window.alert('댓글에 금지단어'+'("'+comment+'")'+error_message);
                }
            },

        })
    }
    var username='{{post_detail.author}}';
    var login_user='{{request.user}}';
    var manager ='{{request.user.is_manager}}';
    function check_edit(){
        if( username !== login_user ){
            alert('작성자 만 수정 가능합니다. ')
        }
    }
    function check_remove(){
        if( username !== login_user){
            alert('작성자 만 삭제 가능합니다. ');
        }
    }
 </script>
{% endblock %}