{% extends 'home.html' %}
{% block head_title %}home{% endblock %}
{% block title %}home{% endblock %}
{% block content %}
<section>
    <p>게시판:<a href="{% url 'notice_list:post_list' %}?category={{ post_detail.category_id }} ">{{ post_detail.category.title }}</a></p>
    <h1>제목:{{post_detail.title}}</h1>
    <div>
    <p>
        작성자:{{post_detail.author}}
    </p>
    <p>
        만든날짜:{{post_detail.created_date}}<br>
        수정날짜:{{post_detail.modified_date}}
    </p>
    {{post_detail.content|safe|linebreaks}}
    </div>
    <a href="{% url 'notice_edit:post_edit' pk=post_detail.pk category=post_detail.category_id %}" >
        <button onclick="Check_edit()">수정하기</button>
    </a>
</section>
{% endblock %}
{% block javascript %}
    <script>
        var username='{{post_detail.author}}';
        var login_user='{{request.user}}';
        function Check_edit(){
            if( username !== login_user){
                alert('작성자아이디 가 같은 아이디 만 수정 가능합니다. ');
            }
        }
    </script>
{% endblock %}