{% extends 'manager/home.html' %}
{% block head_title %}MANAGER{% endblock %}
{% block title %}<a href="{% url 'manager_home' %}">MANAGER</a>{% endblock %}
{% block content %}
<section class="wrap member_authority">
    <h1>유저권한수정</h1>
<form method="post" class="member_edit_form">
    {% for user_pk in user_pk %}
        <p class="user_pk">아이디:{{user_pk}}</p>
    {% endfor %}
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-default" type="submit">저장</button>
</form>
</section>
{% block javascript %}
{% endblock %}
{% endblock %}