<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
</head>
<body>
<h1><a href="{% url 'home' %}">{% block title %}home{% endblock %}</a></h1>
<header>
        <nav>
            <ul>
                {% if user.is_authenticated  %}
                    <li>
                        {{ user.username}}님
                        {% if user.is_manager == True %}
                        관리자
                        {%endif%}
                        {% if user.is_member == True %}
                        회원
                        {% else %}
                        비회원
                        {%endif%}
                    </li>
                    <li><a href="{% url 'logout' %}">로그아웃</a></li>
                    <li><a href="{% url 'password_change' %}">비밀번호 변경</a></li>
                    {% if user.is_manager %}
                         <li><a href="{% url 'manager_home' %}">관리자사이트</a></li>
                         <li><a href="{% url 'blog_home' %}">사용자사이트</a></li>
                    {%endif%}
                    {% else %}
                        <li><a href="{% url 'login' %}">로그인</a></li>
                        <li><a href="{% url 'register' %}">회원가입</a>
                {% endif %}
            </ul>
        </nav>
</header>
{% block content %}{% endblock %}
{% block login %}{% endblock %}
{% block footer %}
        <footer>
            <div>&copy; 2017. (LKH) All rights reserved.</div>
        </footer>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>