{% extends 'base.html' %}
{% block head_title %}home{% endblock %}
{% block gnbcontent %}
<nav>
    <ul>
        <li>
            커뮤니티
            {% for category in category %}
            {% if category.title == '자유게시판' or category.title == '겔러리게시판' %}
                <ul>
                    <li><a  href="{% url 'notice_list:post_list' %}?category={{ category.id }}">{{ category.title }}</a></li>
                </ul>
            {%endif%}
            {% endfor %}
        </li>
         <li>
            Development
            {% for category in category %}
            {% if category.title == 'Django' or category.title == 'less' or category.title == 'HTML' or category.title == 'javascript'  %}
                <ul>
                    <li><a  href="{% url 'notice_list:post_list' %}?category={{ category.id }}">{{ category.title }}</a></li>
                </ul>
            {%endif%}
            {% endfor %}
        </li>
        {% for category in category %}
        {% if category.title == '공지사항'  %}
            <li><a  href="{% url 'notice_list:post_list' %}?category={{ category.id }}">{{ category.title }}</a></li>
        {%endif%}
        {% endfor %}

        {% for category in category %}
        {% if category.title == '비회원게시판'  %}
            <li><a  href="{% url 'notice_list:post_list' %}?category={{ category.id }}">{{ category.title }}</a></li>
        {%endif%}
        {% endfor %}
    </ul>
</nav>
{%endblock%}
{% block content %}
<section>
    {% for category in category %}
    {% if category.title == '공지사항'%}
     <h1>{{category.title}}<a href="{%url 'notice_list:post_list'%}?category={{ category.id }}">더보기</a></h1>
    {%endif%}
    {%endfor%}
    {% for post1 in posts1 %}
        <ul>
            <li><a href="{% url 'notice_detail:post_detail' pk=post1.pk  category=post1.category_id%}">{{post1.title}}</a><span>{{post2.created_date|date:"M-d일"|lower}}</span></li>
        </ul>
    {% empty %}
     <ul>
            <li>게시물이 없습니다.</li>
     </ul>
     {%endfor%}
</section>
<section>
    {% for category in category %}
    {% if category.title == '자유게시판' %}
     <h1>{{category.title}}<a href="{%url 'notice_list:post_list'%}?category={{ category.id }}">더보기</a></h1>
    {%endif%}
    {%endfor%}
    {% for post2 in posts2 %}
        <ul>
            <li><a href="{% url 'notice_detail:post_detail' pk=post2.pk category=post2.category_id %}">{{post2.title}}</a><span>{{post2.created_date|date:"M-d일"|lower}}</span></li>
        </ul>
    {% empty %}
     <ul>
            <li>게시물이 없습니다.</li>
     </ul>
     {%endfor%}
</section>
<section>
    {% for category in category %}
    {% if category.title == '겔러리게시판' or category.title == '겔러리게시판' %}
     <h1>{{category.title}}<a href="{%url 'notice_list:post_list'%}?category={{ category.id }}">더보기</a></h1>
    {%endif%}
    {%endfor%}
    {% for post3 in posts3 %}
        <ul>
            <li><a href="{% url 'notice_detail:post_detail' pk=post3.pk category=post3.category_id %}">{{post3.title}}</a><span>{{post3.created_date|date:"M-d일"|lower}}</span></li>
        </ul>
    {% empty %}
     <ul>
            <li>게시물이 없습니다.</li>
     </ul>
     {%endfor%}
</section>
<section>
    {% for category in category %}
    {% if category.title == 'Django' %}
     <h1>{{category.title}}<a href="{%url 'notice_list:post_list'%}?category={{ category.id }}">더보기</a></h1>
    {%endif%}
    {%endfor%}
    {% for post4 in posts4 %}
        <ul>
            <li><a href="{% url 'notice_detail:post_detail' pk=post4.pk category=post4.category_id %}">{{post4.title}}</a><span>{{post4.created_date|date:"M-d일"|lower}}</span></li>
        </ul>
    {% empty %}
     <ul>
            <li>게시물이 없습니다.</li>
     </ul>
     {%endfor%}
</section>
<section>
    {% for category in category %}
    {% if category.title == 'less' %}
     <h1>{{category.title}}<a href="{%url 'notice_list:post_list'%}?category={{ category.id }}">더보기</a></h1>
    {%endif%}
    {%endfor%}
    {% for post5 in posts5 %}
        <ul>
            <li><a href="{% url 'notice_detail:post_detail' pk=post5.pk category=post5.category_id %}">{{post5.title}}</a><span>{{post5.created_date|date:"M-d일"|lower}}</span></li>
        </ul>
    {% empty %}
     <ul>
            <li>게시물이 없습니다.</li>
     </ul>
     {%endfor%}
</section>
<section>
    {% for category in category %}
    {% if category.title == 'HTML' %}
     <h1>{{category.title}}<a href="{%url 'notice_list:post_list'%}?category={{ category.id }}">더보기</a></h1>
    {%endif%}
    {%endfor%}
    {% for post6 in posts6 %}
        <ul>
            <li><a href="{% url 'notice_detail:post_detail' pk=post6.pk category=post6.category_id %}">{{post6.title}}</a><span>{{post6.created_date|date:"M-d일"|lower}}</span></li>
        </ul>
    {% empty %}
     <ul>
            <li>게시물이 없습니다.</li>
     </ul>
     {%endfor%}
</section>
<section>
    {% for category in category %}
    {% if category.title == 'javascript' %}
     <h1>{{category.title}}<a href="{%url 'notice_list:post_list'%}?category={{ category.id }}">더보기</a></h1>
    {%endif%}
    {%endfor%}
    {% for post7 in posts7 %}
        <ul>
            <li><a href="{% url 'notice_list:post_detail' pk=post7.pk category=post7.category_id %}">{{post7.title}}</a><span>{{post6.created_date|date:"M-d일"|lower}}</span></li>
        </ul>
    {% empty %}
     <ul>
            <li>게시물이 없습니다.</li>
     </ul>
     {%endfor%}
</section>
<section>
    {% for category in category %}
    {% if category.title == '비회원게시판' %}
     <h1>{{category.title}}<a href="{%url 'notice_list:post_list'%}?category={{ category.id }}">더보기</a></h1>
    {%endif%}
    {%endfor%}
    {% for post8 in posts8 %}
        <ul>
            <li><a href="{% url 'notice_detail:post_detail' pk=post8.pk category=post8.category_id%}">{{post8.title}}</a><span>{{post8.created_date|date:"M-d일"|lower}}</span></li>
        </ul>
    {% empty %}
     <ul>
            <li>게시물이 없습니다.</li>
     </ul>
     {%endfor%}
</section>
{% endblock %}

